
h1 {
    text-shadow: #96362F 2px 2px;
    font-size: 2.75em;
}

table {
    width: 100%;
    max-width: 750px;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 5em;
    border: solid 2px #212A2F;
    background-color: rgb(245, 244, 244);
    color: #212A2F;
    opacity: .90;
}

thead {
    font-weight: bolder;
    font-family: 'Russo One', sans-serif;
    color: rgb(245, 244, 244);
    font-size: 1.2em;
    background-image: radial-gradient(circle, #0BA0A7, #0E6B78);
}

tbody tr:nth-child(even) {
    background: #cececf;
}

td {
    padding: 10px 10px;
}