body {
    background-color: rgb(245, 244, 244);
}

dl {
    background-image: url(/assets/redbackground.jpg);
    background-size: cover;
    padding: 45px;
    display: grid;
   
}

dt, dd {
    display: inline-block;
    /* text-align: center; */
    background-color:  #212A2F;
    opacity: .80;
    padding-left: 40px;
}

dt {
    text-align: left;
    background-color:  #0E6B78;
    opacity: .80;
    /* padding-left: 40px; */
}